// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "csslider";
@import "webfonts";

$main-bg: #454545;
$side-bg: #323232;

body {
  font-family: 'Arial', 'sans-serif';
}

.col-md-12 {
  padding: 0;
}

h1, h2, h3 {
  font-family: Choplin-Medium-DEMO;
}

.page-content-wrapper {
  width: 100%;
  padding-left: 45px;
  background-color: $main-bg;
  color: white;
  .container {
    width: 100%;
    .index {
      .cookie {
        background-color: #f7eade;
        height: 170px;
        color: black;
        padding-top: 20px;
        .bone {
          background-image: url(/img/cookie.png);
          height: 75px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .btn {
          background-color: #ef931f;
        }
        h2 {
          color: #e37e1e;
        }
      }
      .slider {
        padding: 0;
        .csslider {
          width: 100%;
          ul {
            li {
              background-size: cover !important;
            }
          }
        }
      }
      .info {
        margin: 3em auto;
        font-size: 15px;
      }
      .animals {
        margin-bottom: 3em;
        a {
          color: white;
        }
        .col-md-2 {
          border-right: 1px solid;
          &.last {
            border: none;
          }
          .text-xs-center {
            height: 45px;
            vertical-align: bottom;
            font-family: Choplin-ExtraLight-DEMO;
            text-transform: uppercase;
            font-size: 20px;
          }
          .animal {
            height: 60px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
            margin-bottom: 10px;
            &.dog {
              background-image: url(/img/dog.png);
            }
            &.cat {
              background-image: url(/img/cat.png);
            }
            &.fish {
              background-image: url(/img/fish.png);
            }
            &.bird {
              background-image: url(/img/bird.png);
            }
            &.hamster {
              background-image: url(/img/hamster.png);
            }
            &.other {
              background-image: url(/img/hamster.png);
            }
          }
        }
      }
      .hot {
        h2 {
          text-transform: uppercase;
        }
        .item {
          border: 1px solid grey;
          padding: 5px;
          background: #565656;
          .img {
            background-image: url(/img/hot.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            &:hover {
              .overlay {
                opacity: 1;
              }
            }
            .overlay {
              opacity: 0;
              height: 100%;
              background: linear-gradient(rgba(255, 0, 67, 0.6),rgba(255, 0, 67, 0.6)),url(/img/info.png);
              background-repeat: no-repeat;
              background-position: 50%;
              transition: opacity .4s;
            }
          }
          .title {
            float: left;
            margin-left: 15px;
            margin-top: 1em;
          }
          .price {
            text-align: right;
            margin-top: 1em;
            margin-right: 15px;
          }
        }
        .visit {
          text-align: right;
          text-decoration: underline;

          font-family: Choplin-Medium-DEMO;
          a {
            color: white;
          }
        }
      }
      .newsletter {
        margin-top: 2em;
        margin-bottom: 100px;
        .col-md-5 {
          padding: 0;
        }
        .col-md-7 {
          padding: 0;
        }
        .discover {
          background-image: url(/img/patroon.jpg);
          padding: 2em 9em .5em 9em;
          text-align: center;
          height: 184px;
          h2 {
            margin-bottom: 1em;
          }
        }
        .subscribe {
          background: #5f5f5f;
          padding: 2em 7em;
          height: 184px;
          input.submit {
            color: white;
            background-color: black;
            border: solid black;

          }
        }
      }
    }
  }
}

.sidebar {
  z-index: 555;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 45px;
  background-color: $side-bg;
  overflow: hidden;
  transition: width 1s;
  &.expanded {
    width: 170px;
    .kowloon {
      background-image: url('/img/kowloon.png');
      width: 180px;
      background-size: 80%;
    }
  }
  .kowloon {
    background-image: url(/img/k.png);
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10px;
    position: fixed;
    bottom: 10px;
    width: 40px;
  }
  .side-nav {
    list-style-type: none;
    padding: 0;
    width: 170px;
    li {
      display: inline-block;
      cursor: pointer;
      width: 100%;
      &.top {
        color: #A2A2A2;
      }
      &.divider-top {
        padding-bottom: 1em;
        border-bottom: 1px solid $main-bg;
      }
      &.divider-bot {
        padding-top: 1em;
      }
      &.animal {
        span {
          color: white;
          font-weight: bold;
        }
      }
      span {
        height: 35px;
        line-height: 35px;
      }
      div {
        background-size: 20px;
        height: 35px;
        background-position: 50%;
        background-repeat: no-repeat;
        float: left;
        width: 45px;
        &.menu {
          background-image: url('/img/menu.svg');
          background-color: #252525;
        }
        &.search {
          background-image: url('/img/search.png');
        }
        &.faq {
          background-image: url('/img/faq.png');
        }
        &.dog {
          background-image: url('/img/dog.png');
        }
        &.cat {
          background-image: url('/img/cat.png');
        }
        &.bird {
          background-image: url('/img/bird.png');
        }
        &.fish {
          background-image: url('/img/fish.png');
        }
        &.hamster {
          background-image: url('/img/hamster.png');
        }
      }
    }
  }
}